.showMore, .search {
    text-align: center;
    margin: 10px;
}
.form-inline .form-control {
    width: 500px;
}
.showMore .btn {
    padding: 7px 50px 7px 50px;
    border: none;
    outline: none;
}
.showMore .btn:hover{
    box-shadow: 2px 2px 4px gray;
}
.search .btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    outline: none;
}
.goods {
    margin-bottom: 10px;
}
.filters {
    background-color: #d6d6d6;
    border-radius: 5px;
}
.filters h4 {
    padding: 5px 10px;
    font-weight: 600;
}
.man-item {
    padding-left: 20px;
}